---
title: maki
layout: default
---
<link rel='stylesheet' href='{{site.baseurl}}/site.css' type='text/css'/>
<link rel='stylesheet' href='{{site.baseurl}}/maki-sprite.css' type='text/css'/>

<div id='maki'>
  <div id='maki-hero'>
    <div class='limiter clearfix content'>
      <div class='col-1 bordered-centered'>
        <h1><a href='{{site.url}}/maki' class='icon maki'>Maki Icons</a></h1>
        <a href='{{site.baseurl}}/maki-icon-source/maki.zip' class='download'>
          <span class='fr icon download'>&nbsp;</span>
          <span class='filename'>Maki.zip</span><br />
          <span class='filesize'>400kb</span>
        </a>
      </div>
      <div class='col-3'>
        <h2 class='tagline'>A clean point of interest icon set made especially for cartography.{{paginator}}</h2>
      </div>
    </div>
  </div> <!-- /#maki-hero-->
  <div id='maki-subtitle'>
    <div class='limiter clip'>
      <script type='text-template' id='count'>
        <strong><%= setcount %></strong> different symbols at <strong>3</strong> sizes each. <strong><%= totalcount %></strong> total icons and growing.
      </script>
      Maki includes <span class='count'></span>
    </div>
  </div>

  <div class='canvas'>
    <div class='limiter clearfix content'>
      <script type='text/template' id='icon-collection'>
        <ul class='icon-set clearfix'>
          <li class='icon <%= icon%>'>Icon</li>
          <li class='title-box'><%= title%><small><%= icon %></small></li>
        </ul>
      </script>
      <div id='maki-set' class='clearfix'></div>
      <script type='text/template' id='search-icons'>
        <li>
          <ul class="icon-set clearfix">
            <li class="icon <%=icon %>"><%=name %> icon</li>
          </ul><span class="title-box"><%=name %><small><%= icon %></small></span>
        </li>
      </script>
      <div id='search-results' class='limiter title clearfix'>
        <a href='#' class='icon close' title='Press ESC to close'>X</a>
        <div class='empty active'>No results found.</div>
        <ul id='results'></ul>
        <a href='{{site.baseurl}}/maki-icon-source/maki.zip' class='search-download'>Download maki.zip</a>
      </div>
      <div class='canvas-controls'>
        <form id='search'>
          <input type='text' placeholder='e.g Golf or Bank'>
        </form>
      </div>
    </div>
  </div>

  <div class='limiter clip'>
    <div class='content prose clearfix'>
      <div id='map'>
        <h3 class='title'>Uniquely crafted to make your TileMill maps beautiful and meaningful.</h3>
        <div id='controls'></div>
      </div>
      <div class='clearfix'>
        <div class='col maki-thesis'>
          <h3>Designed pixel-by-pixel to look great at  small sizes but scale up elegantly</h3>
          <p>We designed Maki specifically for TileMill with the goal of creating an international, comprehensive, and stylistically unified point of interest icon set. Each symbol is drawn three times at different sizes to maximize crispness and readability. Maki symbols are based on international recognized symbols, following precedents set by <a href='http://www.aiga.org/symbol-signs'>AIGA</a> and other international symbol systems, but preserving a unique look at feel.</p>
          <p>Use Maki for everything from adding context to the base map of your mobile app to highlighting critical data on your disaster map. Just download the icons and <a href="http://mapbox.com/tilemill/docs/guides/using-maki-icons"> start using them with TileMill</a> or put them on your server to integrate with another mapping API.</p>
        </div>
        <div id='maki-icon-preview' class='col'>
          <div class='preview-screen'>
            <img style='display: block;' class='size-24 active' src='{{site.baseurl}}/images/gas-big-24.png' alt='' />
            <img style='display: none;' class='size-18' src='{{site.baseurl}}/images/gas-big-18.png' alt='' />
            <img style='display: none;' class='size-12' src='{{site.baseurl}}/images/gas-big-12.png' alt='' />
          </div>
          <span id='arrow' class='size-24'>&nbsp;</span>
          <ul>
            <li><a href='#size-24' class='icon size-24 active'>24px</a></li>
            <li><a href='#size-18' class='size-18 icon'>18px</a></li>
            <li><a href='#size-12' class='size-12 icon'>12px</a></li>
          </ul>
        </div>
      </div>
      <hr />
      <div class='clearfix'>
        <div class='col-2'>
          <img src='{{site.baseurl}}/images/maki-illustration-1.png' alt='' />
          <h3>Maki and MapBox give you more control</h3>
          <p>Maki icons are easy to use with MapBox. Just reference the icons in TileMill with Carto to include exactly as little or as much context as you want in your map. For detailed instructions on how to use Maki on your maps, <a href='http://mapbox.com/tilemill/docs/guides/using-maki-icons'>check out the documentation</a>.</p>
        </div>
        <div class='col-2'>
          <img src='{{site.baseurl}}/images/maki-illustration-2.png' alt='' />
          <h3>Open source and actively developed</h3>
          <p>Maki icons are licensed under BSD, which means you're free to use, modify, and share these icons. If you'd like to make requests or suggest changes, <a href='https://github.com/mapbox/maki/issues/new'>create an issue on Github</a>. View the public repository at <a href='https://github.com/mapbox/maki'>github.com/mapbox/maki</a>.</p>
        </div>
      </div>
      <hr />
      <div class='clearfix'>
        <div class='col-2'>
          <a href='/maki-icon-source/maki.zip' class='download clearfix'>
            <span class='fr icon download'>&nbsp;</span>
            <span class='title'>Download the complete icon set</span><br />
            <span class='filename'>maki.zip</span>
          </a>
        </div>
        <div class='col-2 includes'>
          <strong>Includes:</strong>
          <ul>
            <li class='count'></li>
            <li><strong>24px/18px/12px</strong> .png and the .svg source</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='{{site.baseurl}}/wax/modestmaps.min.js'></script>
<script src='{{site.baseurl}}/wax/wax.mm.min.js'></script>
<script src='{{site.baseurl}}/wax/deadsea.min.js'></script>
<script src='{{site.baseurl}}/site.js'></script>
