/* --------------------------------------
  Little Helpers
----------------------------------------- */
.icon {
  background: transparent url(images/sprite.png) no-repeat 0 0;
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -999em;
  }
.fr { float: right; }

/* --------------------------------------
  Some delineation
----------------------------------------- */
.branding {
  position: relative;
  z-index: 100;
  box-shadow: 0 0 20px #222;
  -moz-box-shadow: 0 0 20px #222;
  -webkit-box-shadow: 0 0 20px #222;
  }
#maki h3 {
  margin: 20px 0;
  }
#maki .title {
  border: none;
  font-size: 20px;
  font-weight: normal;
  }
  #maki .canvas .title {
    text-align: center;
    margin: 0;
    }
  #maki #map h3.title {
    background: #fff;
    display: block;
    position: absolute;
    z-index: 100;
    top: 40px;
    left: 0;
    padding: 20px;
    margin: 0;
    width: 640px;
    }

/* --------------------------------------
  Maki frontpage specific styling
----------------------------------------- */
#maki-hero {
  background: #444;
  height: 180px;
  color: white;
  }
  #maki-hero h1 a {
    background-position: 0 0;
    width: 140px;
    margin-left: 35px;
    margin-bottom: 15px;
    }
  #maki-hero h2 {
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    margin-top: 40px;
    }
  #maki-hero .bordered-centered {
    width: 200px;
    height: 140px;
    padding-top: 40px;
    margin-right: 20px;
    padding-right: 20px;
    }

#maki-subtitle {
  background: #303030;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  color: #fff;
  }

a.download {
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 15px 20px;
  transition:all 250ms;
  -moz-transition:all 250ms;
  -webkit-transition:all 250ms;
  }
  #maki-hero a.download {
    border-color: #999;
    width: 138px;
    height: 38px;
    padding: 5px 10px;
    margin-left: 20px;
    }
    a.download:hover { border-color: #444; }
    #maki-hero a.download:hover { border-color: #fff; }

#maki-hero a.download span.filesize {
  color: #fff;
  }
a.download span.filename {
  color: #888;
  }
  #maki-hero a.download span.filename {
    color: #afc975;
    }

a.download span.download {
  background-position: -45px -25px;
  width: 40px;
  height: 40px;
  }
  #maki-hero a.download span.download {
    background-position: 0 -25px;
    }

#maki .canvas {
  background: #fff url(images/bg.png) repeat 0 0;
  margin-bottom: 40px;
  }
  #maki .canvas .limiter {
    position: relative;
    height: 421px;
    width: 920px;
    }

/*Search box*/
.canvas-controls {
  position: absolute;
  bottom: 1px;
  left: 50%;
  margin: 0 0 20px -121px;
  }
  .canvas-controls form input {
    background: #444 url(images/sprite.png) no-repeat -211px 10px;
    border: none;
    color: #fff;
    width: 240px;
    height: 39px;
    padding: 0 40px;
    }

/*Icons on the canvas*/
#maki-set {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  }
ul.icon-group {
  float: left;
  width: 75px;
  margin-right: 20px;
  margin-left: 20px;
  }
ul.icon-set {
    width: 60px;
    }
    ul.icon-set li {
      float: left;
      }

#maki #map {
  background: #f5f5f5;
  position: relative;
  width: 100%;
  height: 420px;
  margin-bottom: 40px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  }
#controls {
  position: absolute;
  top: 20px;
  right: 60px;
  background: #fff;
  z-index: 100;
  border: 1px solid #999;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  box-shadow: 0 0- 8px rgba(0, 0, 0, .3);
  }
  a.zoomer {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    }
    a.zoomer:active {
      box-shadow: inset rgba(0,0,0,0.1) 0px 1px 3px;
      -moz-box-shadow: inset rgba(0,0,0,0.1) 0px 1px 3px;
      -webkit-box-shadow: inset rgba(0,0,0,0.1) 0px 1px 3px;
      }
    a.zoomout {
      z-index: 50;
      border-top: 1px solid #ccc;
      }
    a.zoomdisabled:active,
    a.zoomdisabled {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #ccc;
      cursor: default;
      }

.wax-tooltip {
  background: #fff;
  position: absolute;
  top: 40px;
  left: 0;
  width: 640px;
  padding: 20px;
  font-size: 20px;
  z-index: 1000;
  }
.wax-attribution {
  position: absolute;
  bottom: 5px;
  font-size: 11px;
  z-index: 100;
  left: 10px;
  }

/* CSS Animations */
.wax-tooltip,
.map-tile-loaded {
  -webkit-animation-name: 'fade-in';
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: .2s;
  }
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    }
  to {
    opacity: 1;
    }
}


.col.maki-thesis {
  width: 580px;
  margin-right: 40px;
  }
.col#maki-icon-preview {
  width: 280px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  margin-bottom: 20px;
  }
  #maki-icon-preview #arrow {
    background: transparent url(images/sprite.png) no-repeat -140px 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 205px;
    left: 45px;
    -moz-transition: left 0.2s ease-in;
    -o-transition: left 0.2s ease-in;
    -webkit-transition: left 0.2s ease-in;
    transition: left 0.2s ease-in;
    }
    #maki-icon-preview #arrow.size-24 { left: 55px; }
    #maki-icon-preview #arrow.size-18 { left: 100px; }
    #maki-icon-preview #arrow.size-12 { left: 145px; }

  .preview-screen {
    background: #AFC975;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 210px;
    height: 210px;
    margin: auto;
    position: relative;
    overflow: hidden;
    }
  .preview-screen img {
    position: absolute;
    top: 10px;
    left: 10px;
    }
  #maki-icon-preview ul {
    width: 150px;
    margin: 20px 0 0 45px;
    }
    #maki-icon-preview ul li {
      float: left;
      margin-right: 5px;
      margin-left: 0;
      }
      #maki-icon-preview ul li a {
        background-color: #afc975;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        display: block;
        width: 40px;
        height: 40px;
        }
        #maki-icon-preview ul li a.active,
        #maki-icon-preview ul li a:active {
          background-color: #839065;
          }
        #maki-icon-preview ul li a.icon.size-24 { background-position: -90px -25px; }
        #maki-icon-preview ul li a.icon.size-18 { background-position: -135px -25px; }
        #maki-icon-preview ul li a.icon.size-12 { background-position: -180px -25px; }

        #maki-icon-preview ul li a.active:after {
          content: '';
          position: absolute;
          top: 240px;
          left: 190px;
          color: #CCC;
          text-indent: 0;
          font-size: 16px;
          }
        #maki-icon-preview ul li a.active.size-24:after { content: '24px'; }
        #maki-icon-preview ul li a.active.size-18:after { content: '18px'; }
        #maki-icon-preview ul li a.active.size-12:after { content: '12px'; }

/* --------------------------------------
  Searching icons on the front page
----------------------------------------- */
body.searching #search-results { display: block; }
#search-results {
  display: none;
  position: relative;
  }
  #search-results div {
    display: none;
    position: relative;
    padding: 20px;
    }
  #search-results div.empty {
    text-align: center;
    font-size: 20px;
    margin-top: 115px;
    }
  #search-results div.active { display: block; }

  #search-results ul#results {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    transition:all 250ms;
    -moz-transition:all 250ms;
    -webkit-transition:all 250ms;
    }
    #search-results ul#results.size-1 {
      left: 50%;
      width: 60px;
      margin-left: -30px;
      -moz-transition: none;
      -o-transition: none;
      -webkit-transition: none;
      transition: none;
      }
    #search-results ul#results.size-2 { left: 50%; width: 120px; margin-left: -60px; }
    #search-results ul#results.size-3 { left: 50%; width: 180px; margin-left: -90px; }
    #search-results ul#results.size-4 { left: 50%; width: 240px; margin-left: -120px; }
    #search-results ul#results.size-5 { left: 50%; width: 300px; margin-left: -150px; }
    #search-results ul#results.size-6 { left: 50%; width: 360px; margin-left: -180px; }
    #search-results ul#results.size-7 { left: 50%; width: 420px; margin-left: -210px; }
    #search-results ul#results.size-8 { left: 50%; width: 480px; margin-left: -240px; }
    #search-results ul#results.size-9 { left: 50%; width: 540px; margin-left: -270px; }
    #search-results ul#results.size-10 { left: 50%; width: 600px; margin-left: -300px; }
    #search-results ul#results.size-11 { left: 50%; width: 660px; margin-left: -330px; }
    #search-results ul#results.size-12 { left: 50%; width: 720px; margin-left: -360px; }
    #search-results ul#results.size-13 { left: 50%; width: 780px; margin-left: -390px; }
    #search-results ul#results.size-14 { left: 50%; width: 840px; margin-left: -420px; }
    #search-results ul#results.size-15 { left: 50%; width: 900px; margin-left: -450px; }
    #search-results ul#results.size-16 { left: 50%; width: 960px; margin-left: -480px; }

    #search-results ul#results li ul {
      float: left;
      }

a.search-download {
  position: absolute;
  right: 203px;
  font-size: 14px;
  bottom: 44px;
  }
a.close {
  background-color: #fff;
  background-position: -193px 2px;
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 47px;
  left: 50%;
  margin-left: 85px;
  z-index: 100;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  }
