<div class='footer fill-light clearfix'>
  <div class='col3 pad4 newsletter'>
    <a class='button icon twitter' href='http://twitter.com/mapbox' target='_blank'>Follow us</a>
    <a class='button icon contact' href='{{base}}/contact'>Contact us</a>

    <small>Subscribe to our newsletter</small>
    <!-- Begin MailChimp Signup Form -->
    <div id='mc-signup'>
      <form action='http://mapbox.us2.list-manage1.com/subscribe/post?u=1b29ad842d113cece02035883&amp;id=6cbe531fd0' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank'>
        <div class='mc-field-group clearfix'>
          <input type='hidden' value='1' name='group[7417][2]'>
          <div class='field-wrapper'><input type='text' value='' placeholder='Email Address' name='EMAIL' class='required email' id='mce-EMAIL'></div>
          <input type='submit' value='' name='subscribe' id='mc-embedded-subscribe' class='button icon mail'>
        </div>
        <div id='mce-responses'>
          <div class='response' id='mce-error-response' style='display:none'></div>
          <div class='response' id='mce-success-response' style='display:none'></div>
        </div>
      </form>
    </div>
  </div>

  <div class='col2 pad4'>
    <h3 class='title'>MapBox</h3>
    <p class='links'>
      {% for item in page.footer.mapbox %}
      <a id='footer-{{item.title | downcase | replace:' ','-'}}' href='{{site.url}}{{item.path}}/'>{{item.title}}</a>
      {% endfor %}
    </p>
  </div>
  <div class='col2 pad4'>
    <h3 class='title'>Resources</h3>
    <p class='links'>
      {% for item in page.footer.resources %}
      <a id='footer-{{item.title | downcase | replace:' ','-'}}' href='{{site.url}}{{item.path}}/'>{{item.title}}</a>
      {% endfor %}
    </p>
    <h3 class='title'>Tools</h3>
    <p class='links'>
      {% for item in page.footer.tools %}
      <a id='footer-{{item.title | downcase | replace:' ','-'}}' href='{{site.url}}{{item.path}}/'>{{item.title}}</a>
      {% endfor %}
    </p>
  </div>
  <div class='col5 pad4 blogposts'>
    <h3 class='title'>Recent blog posts</h3>
    <p class='links'>
      <script src='http://mapbox.com/snippets/blog-list.js'></script>
    </p>
    <a id='read-more' href='{{site.url}}/blog/' class='rcon next'>Read more</a>
  </div>
</div>

<div class='footer-copyright dark fill-denim centered pad2'>
  <a href='{{base}}/tos'>Terms of service</a> +
  <a href='{{base}}/privacy'>Privacy policy</a>
  &copy; MapBox
</div>
