---
navigation:
  - title: Tour
    category: tour
    path: /tour
  - title: Showcase
    category: showcase
    class: showcase
    path: /showcase
  - title: Blog
    category: blog
    path: /blog
  - title: Plans
    category: plans
    class: plans
    path: /plans
footer:
  mapbox:
    - title: Tour
      path: /tour
    - title: Showcase
      path: /showcase
    - title: About
      path: /about
    - title: Plans
      path: /plans
    - title: Premium
      path: /plans/premium
    - title: Blog
      path: /blog
    - title: Status
      path: http://mapbox.com/status
  resources:
    - title: Help
      path: /help
    - title: Developers
      path: /developers
  tools:
    - title: TileMill
      path: /tilemill
    - title: Maki
      path: /maki
---
<!DOCTYPE html >
<html>
<head>
  <meta charset='UTF-8'/>
  <meta name='robots' content='{% if page.hidden %}noindex{% else %}index{% endif %}'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  {% if page.description %}<meta name='description' content='{{page.description | strip_html}}'/>{% endif %}
  <title>{% if page.url == '/' %}{{page.title}} | Fast and beautiful maps{% else %}{{page.title}} | MapBox{% endif %}</title>
  <link rel='shortcut icon' href='{{site.url}}/images/favicon.ico' type='image/x-icon' />
  <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.4/mapbox.css' rel='stylesheet' />

  <link href='//hey.mapbox.com/styleguide/base.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/www/site.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/www/maki-sprite.css' rel='stylesheet' />

  <script src='{{site.url}}/js/site.js'></script>
  <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.4/mapbox.js'></script>
</head>
<body class='{{page.class}} simple'>

  <div class='branding pad4h clearfix fillE'>
    <div class='col6 logos'>
      <a id='maki-logo' class='logo' href='{{site.baseurl}}/'>Maki</a>
      <small class='attribution'><span class='mobile-hide'>an open source project</span> by <a href='//mapbox.com/' class='small-mapbox'>MapBox</a></small>
    </div>
  </div>

<div class='wrapper'>{{content}}</div>
{% include footer.html %}

<script>
  {% include analytics.js %}
</script>

<script src='//tiles.mapbox.com/snippets/user.js'></script>

</body>
</html>
