---
layout: default
---

<style>
  ul.icon-set {
    margin: 20px 0;
    }
    ul.icon-set li {
      float: left;
      }
</style>
<div class='limiter clip'>
  <div class='title'>
    <h1>{{page.title}}</h1>
  </div>

  <h3> under: {{page.categories}}</h3>
  <ul class='icon-set clearfix'>
    <li><img src='{{site.baseurl}}/renders/{{page.icon-24}}' alt='{{page.title}} 24px' /></li>
    <li><img src='{{site.baseurl}}/renders/{{page.icon-18}}' alt='{{page.title}} 18px' /></li>
    <li><img src='{{site.baseurl}}/renders/{{page.icon-12}}' alt='{{page.title}} 12px' /></li>
  </ul>
</div>
